// SCREEN BREAKPOINTS (Mobile First):
$tablet: 768px;
$desktop: 1280px;

// COLORS:
$score-blue: #006dff;
$clore-gray-1: #f9f9f9;
$score-gray-2: rgba(249, 249, 249, 0.65);
$score-gray-3: #888888;
$score-gray-4: #393c42;
$score-gray-5: #1e1f21;
$score-black: #000000;
$score-white: #ffffff;
$color-green: #03aa52;
$color-yellow: #dbc83b;
$score-orange: #fdb333;

$spacing--mobile: 1rem;
$spacing--tablet: 3rem;
$avatar-width--mobile: 1.1em;