@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/globals' as *;

$spacing--mobile: 1rem;
$spacing--tablet: 3rem;
$calendar-width: 20rem;
$events-list-width: calc(100% - $calendar-width - $spacing--tablet);
$background-color:  $score-gray-5;

.home {
  @include flex-mixin--column(100%);
  display: flex;
  padding: 1rem;
  gap: $spacing--mobile;
  background-color: $background-color; 
  min-height: 100vh;

  @include tablet {
    @include flex-mixin--row(100%);
    flex-direction: row;
    gap: $spacing--tablet;
    padding: $spacing--tablet;
  }
}

.calendar {
  background-color: $background-color; 
  width: 100%;
  height: auto;

  @include tablet {
    width: $calendar-width;
  }
}

.events {
  @include tablet {
    width: $events-list-width;
  }
}